html {
  background: url(../images/bats.gif);
  display: table;
  margin: auto;
}

body {
  background-color: white;
  border-style: solid;
  box-shadow: 0px 0px 5px 5px gray;
  font-family: Arial, Helvetica, sans-serif;
  width: 800px;
}

header {
  background: orange; 
  background: -webkit-linear-gradient(45deg, white , orange, black); 
  background: -o-linear-gradient(45deg, white, orange, black); 
  background: -moz-linear-gradient(45deg, while, orange, black); 
  background: linear-gradient(45deg, white , orange, black); 
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

aside {
  float: left;
}

section {
  margin-left: 175px;
}

main {
  border-style: solid;
  border-width: 1px;
}

footer {
  background: orange; 
  background: -webkit-linear-gradient(45deg, black , orange, white); 
  background: -o-linear-gradient(45deg, black, orange, white); 
  background: -moz-linear-gradient(45deg, black, orange, white); 
  background: linear-gradient(45deg, black , orange, white); 
  border-style: solid;
  border-width: 1px;
  font-size: 80%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 200%;
  margin-bottom: 3px;
  margin-top: 3px;
  text-indent: 3%;
}

h2 {
  font-size: 150%;
  margin-bottom: 3px;
  margin-top: 3px;
  text-indent: 3%;
}

h3 {
  font-size: 150%;
}

section input {
  width: 65%;
  margin-left: 25px;
}

section button {
  background-color: orange;
  border-color: black;
  border-style: solid;
  display: inline-block;
  font-size: 20px;
  margin-left: 109px;
  margin-bottom: 5px;
}

#emailLabel {
  padding-left: 35px;
}

#zipCodeLabel {
  padding-left: 13px;
}

.catLink:visited, .catLink:link {
  color: orange;
}

.catLink:hover, .catLink:active {
  color: green;
}

.pumpkin {
  float: left;
}

.sideBar {
  font-weight: bold;
  line-height: 1.5;
  list-style-type: none;
  margin-top: 5px;
  padding: 5px;
  width: 160px;

}

.sideBar li {
  text-align: left;
}

.sideBar li a {
  background-color: orange;
  border: 3px solid black;
  display: block;
  color: black;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  text-decoration: none;
}

.horizontalMenu {
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.horizontalMenu li {
  display: inline-block;
  padding: 5px;
}

.horizontalMenu li a {
  color: white;
  padding: 30px;
  text-decoration: none;
}

.horizontalMenu li a:hover:not(.active) {
  color: gray;
}

.horizontalMenu li .active {
  color: orange;
}